<head>

    

</head>
<body style="background-color:white">
<table>
<tr>
<td valign="top">
<table>
{% for x in state %}
<tr class="row">
{% for y in x %}
<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: {{ y[1] }}">{{ y[0] }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
</td>
<td valign="top">
<table>
{% for x in grid %}
<tr>
{% for y in x %}
<td align="center" style="background-color: {{ y[1] }}">{{ y[0] }}</td>
{% endfor %}
</tr>
{% endfor %}
</table>
</td>
</tr>
</table>

</body>