<head>

    

</head>
<body style="background-color:white">
<table>
<tr>
<td valign="top">
<table>

<tr class="row">

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: grey">L</td>

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: grey">A</td>

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: grey">T</td>

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: grey">E</td>

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: grey">R</td>

</tr>

<tr class="row">

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: grey">S</td>

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: green">O</td>

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: grey">N</td>

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: grey">I</td>

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: grey">C</td>

</tr>

<tr class="row">

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: green">D</td>

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: green">O</td>

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: grey">U</td>

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: green">G</td>

<td align="center" style="width: 50px; height: 50px; font-size: 32px; background-color: grey">H</td>

</tr>

</table>
</td>
<td valign="top">
<table>

<tr>

<td align="center" style="background-color: PaleGreen">dodgy</td>

</tr>

</table>
</td>
</tr>
</table>

</body>